@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rootDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.pageDiv {
  width: 80%;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .pageDiv {
    width: 85%;
  }
}

.headerDiv {
  justify-content: space-between;
  width: 80%;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .headerDiv {
    margin: 0 0 20px 0;
  }
}
@media only screen and (max-width: 480px) {
  .headerDiv {
    margin: 0 0 20px 0;
  }
}
@media only screen and (max-width: 768px) {
  .headerDiv img {
    width: 250px;
    height: auto;
  }
}
@media only screen and (max-width: 480px) {
  .headerDiv img {
    width: 40%;
    height: auto;
  }
}
.headerDiv .headerNav {
  display: flex;
  justify-content: end;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .headerDiv .headerNav {
    width: 50%;
  }
}

.active {
  border-bottom: 2px solid #FF6060;
}

.headerLink {
  font-size: 1.5em;
  margin: 0 0 0 80px;
  color: #FF6060;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 768px) {
  .headerLink {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 480px) {
  .headerLink {
    font-size: 0.9em;
    margin: 0 0 0 20px;
  }
}
@media only screen and (max-width: 320px) {
  .headerLink {
    font-size: 0.8em;
    margin: 0 0 0 10px;
  }
}

.banniere {
  align-items: center;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  margin: 0 0 40px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .banniere {
    margin: 0 0 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .banniere {
    margin: 0 0 0 0;
  }
}
.banniere h1 {
  position: absolute;
  z-index: 2;
  font-size: 3em;
  color: white;
  font-weight: 200;
}
@media only screen and (max-width: 768px) {
  .banniere h1 {
    width: 360px;
    flex-wrap: wrap;
    margin: 0 110px 0 0;
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 480px) {
  .banniere h1 {
    width: 190px;
    flex-wrap: wrap;
    margin: 0 80px 0 0;
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 320px) {
  .banniere h1 {
    font-size: 1em;
    margin: 0 40px 0 0;
  }
}
.banniere img {
  position: relative;
  z-index: 1;
  height: 220px;
  width: 100%;
  height: 220px;
  border-radius: 30px;
  filter: brightness(70%);
}
@media only screen and (max-width: 768px) {
  .banniere img {
    height: 170px;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .banniere img {
    height: 130px;
    border-radius: 10px;
    object-fit: cover;
  }
}

.logement {
  display: flex;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  padding: 45px 0 0 0;
}
@media only screen and (max-width: 768px) {
  .logement {
    align-items: center;
    background-color: transparent;
    padding: 30px 0 0 0;
  }
}

.logementDiv {
  margin: 0 0 45px 0;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
  .logementDiv {
    margin: 0 0 30px 0;
    margin: 0 0 20px 0;
    width: 100%;
  }
}
.logementDiv img {
  position: relative;
  object-fit: cover;
  z-index: 1;
  border-radius: 30px;
  filter: brightness(70%);
  width: 330px;
  height: 330px;
}
@media only screen and (max-width: 768px) {
  .logementDiv img {
    width: 600px;
    height: 600px;
  }
}
@media only screen and (max-width: 480px) {
  .logementDiv img {
    height: 100%;
    width: 100%;
  }
}

.locationTitle {
  position: absolute;
  z-index: 2;
  width: 200px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 230px 0 0 10px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .locationTitle {
    margin: 500px 0 0 10px;
    width: 300px;
  }
}
@media only screen and (max-width: 480px) {
  .locationTitle {
    margin: 150px 0 0 10px;
    width: 300px;
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .locationTitle {
    margin: 100px 0 0 10px;
    width: 200px;
    font-size: 12px;
  }
}
.locationTitle h3 {
  font-weight: 400;
}

.imagesDiv {
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #F6F6F6;
  border-radius: 30px;
  width: 90%;
  height: 95%;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .imagesDiv {
    justify-content: center;
    background-color: transparent;
  }
}
@media only screen and (max-width: 480px) {
  .imagesDiv {
    width: 100%;
    height: 100%;
  }
}

.footerDiv {
  background-color: black;
  width: 100%;
  height: 200px;
  margin: 40px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .footerDiv {
    margin: 20px 0 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .footerDiv {
    margin: 20px 0 0 0;
  }
}
.footerDiv img {
  width: 150px;
  height: auto;
}
.footerDiv p {
  color: white;
  font-size: 1.5em;
  margin: 30px 0 0 0;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 480px) {
  .footerDiv p {
    font-size: 1.2em;
    width: 40%;
    text-align: center;
  }
}

.bodyDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .bodyDiv {
    margin: 30px 0 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .bodyDiv {
    justify-content: center;
  }
}
.bodyDiv .collapseDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bodyDiv .buttonDiv {
  align-items: center;
  justify-content: space-between;
  width: 80%;
  border-radius: 5px;
  height: 55px;
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .bodyDiv .buttonDiv {
    width: 80%;
  }
}
@media only screen and (max-width: 480px) {
  .bodyDiv .buttonDiv {
    width: 100%;
    height: 40px;
  }
}
.bodyDiv .buttonDiv p {
  font-size: 1.6em;
  color: white;
  margin: 0 0 0 15px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 768px) {
  .bodyDiv .buttonDiv p {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 480px) {
  .bodyDiv .buttonDiv p {
    font-size: 1.2em;
  }
}
.bodyDiv .buttonDiv button {
  margin: 0 10px 0 0;
  padding: 5px;
  border: none;
  background-color: #FF6060;
  font-size: 2em;
}
.bodyDiv .buttonDiv button :hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .bodyDiv .buttonDiv button {
    font-size: 1.8em;
  }
}
@media only screen and (max-width: 480px) {
  .bodyDiv .buttonDiv button {
    font-size: 1.5em;
  }
}

.bodyDiv .descriptionDiv {
  margin: 0 0 30px 0;
  width: 80%;
}
@media only screen and (max-width: 480px) {
  .bodyDiv .descriptionDiv {
    width: 100%;
    margin: 0 0 15px 0;
  }
}

.bodyDiv .collapseDescription {
  color: #FF6060;
  background-color: #F6F6F6;
  margin: 0 0 0 0;
  padding: 20px;
  font-size: 1.2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 480px) {
  .bodyDiv .collapseDescription {
    font-size: 0.9em;
  }
}

.carousel {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.carousel p {
  position: absolute;
  z-index: 3;
  margin: 300px 0 0 0;
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.1em;
}
@media only screen and (max-width: 480px) {
  .carousel p {
    margin: 200px 0 0 0;
    font-size: 0.9em;
  }
}

.imageCarousel {
  height: 450px;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
  border-radius: 30px;
}
@media only screen and (max-width: 480px) {
  .imageCarousel {
    height: 300px;
    border-radius: 15px;
  }
}

.carouselButtons {
  display: flex;
  position: absolute;
  width: 77%;
  height: 100px;
  z-index: 2;
  justify-content: space-between;
}
.carouselButtons button {
  border: none;
  background-color: transparent;
}
@media only screen and (max-width: 768px) {
  .carouselButtons button {
    font-size: 0.5em;
  }
}
@media only screen and (max-width: 480px) {
  .carouselButtons button {
    font-size: 0.3em;
  }
}
.carouselButtons button :hover {
  cursor: pointer;
}

.pageLogementBody {
  margin: 30px 0 0 0;
  width: 80%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}
@media only screen and (max-width: 768px) {
  .pageLogementBody {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.componentLeft {
  width: 100%;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
.componentLeft h1 {
  font-size: 2.3em;
  margin: 10px 0 0 0;
  font-weight: 100;
}
@media only screen and (max-width: 480px) {
  .componentLeft h1 {
    font-size: 1.9em;
  }
}
.componentLeft h2 {
  font-size: 1.2em;
  margin: 10px 0 10px 0;
  font-weight: 100;
}
@media only screen and (max-width: 480px) {
  .componentLeft h2 {
    font-size: 1em;
    margin: 10px 0 0 0;
  }
}
.componentLeft ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.componentRight {
  align-items: end;
  width: 100%;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
.componentRight h1 {
  font-size: 2.3em;
  margin: 10px 0 0 0;
  font-weight: 100;
}
@media only screen and (max-width: 480px) {
  .componentRight h1 {
    font-size: 1.9em;
  }
}
.componentRight h2 {
  font-size: 1.2em;
  margin: 10px 0 10px 0;
  font-weight: 100;
}
@media only screen and (max-width: 480px) {
  .componentRight h2 {
    font-size: 1em;
    margin: 10px 0 0 0;
  }
}
.componentRight ul {
  list-style-type: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .componentRight {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.componentButtons {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .componentButtons {
    display: flex;
    flex-direction: column;
  }
}

.buttonLeft {
  display: flex;
  flex-direction: row;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .buttonLeft {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}
.buttonLeft .collapseDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.buttonLeft .collapseDiv .buttonDiv {
  width: 95%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
}
.buttonLeft .collapseDiv .buttonDiv p {
  font-size: 1.4em;
  color: white;
  margin: 0 0 0 15px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 480px) {
  .buttonLeft .collapseDiv .buttonDiv p {
    font-size: 1em;
  }
}
.buttonLeft .collapseDiv .buttonDiv button {
  margin: 0 10px 0 0;
  padding: 5px;
  border: none;
  background-color: #FF6060;
  font-size: 2em;
}
@media only screen and (max-width: 480px) {
  .buttonLeft .collapseDiv .buttonDiv button {
    font-size: 1em;
  }
}
.buttonLeft .collapseDiv .buttonDiv button :hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .buttonLeft .collapseDiv .buttonDiv {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .buttonLeft .collapseDiv .buttonDiv {
    height: 40px;
  }
}
.buttonLeft .collapseDiv .descriptionDiv {
  width: 95%;
  background-color: #F6F6F6;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .buttonLeft .collapseDiv .descriptionDiv {
    width: 100%;
  }
}
.buttonLeft .collapseDiv .descriptionDiv div {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  font-size: 1.1em;
  height: 200px;
}
@media only screen and (max-width: 480px) {
  .buttonLeft .collapseDiv .descriptionDiv div {
    font-size: 0.9em;
    height: 150px;
  }
}

.collapseUlDiv ul {
  padding-inline-start: 0;
  padding: 0;
  margin-block-start: 0em;
}

.collapseUl {
  list-style-type: none;
  margin: 0 0 10px 0;
}

.buttonRight {
  display: flex;
  flex-direction: row;
  width: 50%;
}
@media only screen and (max-width: 768px) {
  .buttonRight {
    width: 100%;
    margin: 10px 0 10px 0;
  }
}
.buttonRight .collapseDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
}
@media only screen and (max-width: 768px) {
  .buttonRight .collapseDiv {
    align-items: start;
  }
}
.buttonRight .collapseDiv .buttonDiv {
  width: 95%;
  border-radius: 10px;
  align-items: center;
  justify-content: space-between;
  height: 55px;
  background-color: #FF6060;
  display: flex;
  flex-direction: row;
}
.buttonRight .collapseDiv .buttonDiv p {
  font-size: 1.4em;
  color: white;
  margin: 0 0 0 15px;
  font-family: "Montserrat", sans-serif;
}
@media only screen and (max-width: 480px) {
  .buttonRight .collapseDiv .buttonDiv p {
    font-size: 1em;
  }
}
.buttonRight .collapseDiv .buttonDiv button {
  margin: 0 10px 0 0;
  padding: 5px;
  border: none;
  background-color: #FF6060;
  font-size: 2em;
}
@media only screen and (max-width: 480px) {
  .buttonRight .collapseDiv .buttonDiv button {
    font-size: 1em;
  }
}
.buttonRight .collapseDiv .buttonDiv button :hover {
  cursor: pointer;
}
@media only screen and (max-width: 768px) {
  .buttonRight .collapseDiv .buttonDiv {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .buttonRight .collapseDiv .buttonDiv {
    height: 40px;
  }
}
.buttonRight .collapseDiv .descriptionDiv {
  width: 95%;
  background-color: #F6F6F6;
  border-radius: 5px;
}
@media only screen and (max-width: 768px) {
  .buttonRight .collapseDiv .descriptionDiv {
    width: 100%;
  }
}
.buttonRight .collapseDiv .descriptionDiv div {
  margin: 20px;
  font-family: "Montserrat", sans-serif;
  color: #FF6060;
  font-size: 1.1em;
  height: 200px;
}
@media only screen and (max-width: 480px) {
  .buttonRight .collapseDiv .descriptionDiv div {
    font-size: 0.9em;
    height: 150px;
  }
}

.tags {
  list-style-type: none;
  margin: 0 10px 0 0;
  padding: 0 30px 0 30px;
  background-color: #FF6060;
  font-family: "Montserrat", sans-serif;
  color: white;
  border-radius: 15px;
  font-size: 0.8em;
  height: 30px;
  display: flex;
  align-items: center;
  width: 10%;
  justify-content: center;
}
@media only screen and (max-width: 480px) {
  .tags {
    width: 20%;
    font-size: 0.7em;
    padding: 0 15px 0 15px;
    margin: 10px 10px 0 0;
    border-radius: 10px;
  }
}

.etoilesDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
  margin: 20px 0 0 0;
}
@media only screen and (max-width: 480px) {
  .etoilesDiv {
    width: 30%;
    margin: 0;
  }
}
.etoilesDiv .etoile {
  font-size: 1.6em;
}
@media only screen and (max-width: 480px) {
  .etoilesDiv .etoile {
    font-size: 1em;
  }
}

.hostDiv {
  display: flex;
  flex-direction: row;
  margin: 10px 0 0 0;
  align-items: center;
}
@media only screen and (max-width: 480px) {
  .hostDiv {
    margin: 0;
  }
}
.hostDiv img {
  height: 70px;
  border-radius: 100%;
  margin: 0 0 0 10px;
}
@media only screen and (max-width: 480px) {
  .hostDiv img {
    height: 50px;
  }
}
.hostDiv p {
  text-align: end;
  width: 100px;
  font-size: 1.1em;
}
@media only screen and (max-width: 480px) {
  .hostDiv p {
    font-size: 0.9em;
    width: 60px;
  }
}

.errorBody {
  align-items: center;
  color: #FF6060;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
}
.errorBody h1 {
  font-size: 14em;
  margin: 10px 0 50px 0;
}
@media only screen and (max-width: 768px) {
  .errorBody h1 {
    font-size: 10em;
  }
}
@media only screen and (max-width: 480px) {
  .errorBody h1 {
    font-size: 6em;
  }
}
.errorBody h2 {
  font-weight: normal;
}
@media only screen and (max-width: 768px) {
  .errorBody h2 {
    width: 60%;
    text-align: center;
    font-size: 1.3em;
  }
}
@media only screen and (max-width: 480px) {
  .errorBody h2 {
    font-size: 1em;
  }
}

.errorNav {
  margin: 50px 0 50px 0;
}

.errorLink {
  color: #FF6060;
}
@media only screen and (max-width: 480px) {
  .errorLink {
    font-size: 0.8em;
  }
}
.errorLink :visited {
  color: #FF6060;
}

/*# sourceMappingURL=App.css.map */
