@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

$primary-color: #FF6060;

@mixin banniere {
    height: 220px;
    border-radius: 30px;
    filter: brightness(70%);
}


@mixin baseStyle {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin fontStyle {
    font-family: 'Montserrat', sans-serif;
}

@mixin margin {
    margin: 50px;
}

#root {
    border: 2px solid red;
    @include baseStyle;
}

.headerDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include margin;
}

.headerNav {
    @include baseStyle;
}

.headerLink{
    text-decoration: none;
    font-size: 1.5em;
    padding: 0 0 0 20px;
    margin: 30px 30 30 30;
    color: $primary-color;
    @include fontStyle;
}

.banniereAccueil {
    display: flex;
    flex-direction: row;
    border: 2px solid green;
}

.banniereAccueil h1 {
    position: relative;
    z-index: 2;
    justify-content: center;
}

.banniereAccueil img {
    position: relative;
    z-index: 1;
    height: 220px;
    width: 100%;
    @include banniere;
    align-items: center;
}
